// Resource file for NtTrace
//
// $Id: NtTrace.rc 2650 2025-04-11 15:39:00Z roger $

#define MINOR_VERSION 2649
#define DESCRIPTION "Trace Native API calls made by a process"
#define APPLICATION

1 ICON "NtTrace.ico"

#include "version.rc"
