// Resource file for NtTrace
//
// $Id: NtTrace.rc 2488 2024-12-02 23:27:17Z roger $

#define MINOR_VERSION 2488
#define DESCRIPTION "Trace Native API calls made by a process"
#define APPLICATION

1 ICON "NtTrace.ico"

#include "version.rc"
