// Resource file for NtTrace
//
// $Id: NtTrace.rc 2474 2024-09-10 21:10:25Z roger $

#define MINOR_VERSION 2473
#define DESCRIPTION "Trace Native API calls made by a process"
#define APPLICATION

1 ICON "NtTrace.ico"

#include "version.rc"
