// Resource file for ShowLoaderSnaps
//
// $Id: ShowLoaderSnaps.rc 2669 2025-04-21 14:31:27Z roger $

#define MINOR_VERSION 2668
#define DESCRIPTION "Show Loader Snaps when running a process"
#define APPLICATION

#include "version.rc"
