// Resource file for ShowLoaderSnaps
//
// $Id: ShowLoaderSnaps.rc 2719 2025-04-24 20:53:25Z roger $

#define MINOR_VERSION 2718
#define DESCRIPTION "Show Loader Snaps when running a process"
#define APPLICATION

#include "version.rc"
