// Resource file for MemoryStats
//
// $Id: MemoryStats.rc 2758 2025-04-29 20:06:43Z roger $

#define MINOR_VERSION 2755
#define DESCRIPTION "Display memory statistics for child process(es)"
#define APPLICATION

#include "../include/version.rc"
