// Resource file for MemoryStats
//
// $Id: MemoryStats.rc 3048 2026-01-10 22:25:52Z roger $

#define MINOR_VERSION 3047
#define DESCRIPTION "Display memory statistics for child process(es)"
#define APPLICATION

#include "../include/version.rc"
