// Resource file for NtTrace
//
// $Id: NtTrace.rc 2986 2025-12-21 00:21:25Z roger $

#define MINOR_VERSION 2985
#define DESCRIPTION "Trace Native API calls made by a process"
#define APPLICATION

1 ICON "NtTrace.ico"

#include "../include/version.rc"
