// Resource file for NtTrace
//
// $Id: NtTrace.rc 2963 2025-12-13 22:51:47Z roger $

#define MINOR_VERSION 2962
#define DESCRIPTION "Trace Native API calls made by a process"
#define APPLICATION

1 ICON "NtTrace.ico"

#include "../include/version.rc"
