// Resource file for NtTrace
//
// $Id: NtTrace.rc 3060 2026-01-10 23:46:19Z roger $

#define MINOR_VERSION 3059
#define DESCRIPTION "Trace Native API calls made by a process"
#define APPLICATION

1 ICON "NtTrace.ico"

#include "../include/version.rc"
