// Resource file for ShowLoaderSnaps
//
// $Id: ShowLoaderSnaps.rc 2890 2025-10-24 22:17:43Z roger $

#define MINOR_VERSION 2889
#define DESCRIPTION "Show Loader Snaps when running a process"
#define APPLICATION

#include "../include/version.rc"
