// Resource file for ShowLoaderSnaps
//
// $Id: ShowLoaderSnaps.rc 2998 2025-12-21 15:54:22Z roger $

#define MINOR_VERSION 2996
#define DESCRIPTION "Show Loader Snaps when running a process"
#define APPLICATION

#include "../include/version.rc"
