// Resource file for SymExplorer
//
// $Id: SymExplorer.rc 3106 2026-02-14 17:17:59Z roger $

#define MINOR_VERSION 3106
#define DESCRIPTION "Explore the debugging symbols for a module"
#define APPLICATION

#include "../include/version.rc"
